body{
	background-color: rgb(230,230,230);
	color:blue;
	font-family: 'Lora', serif;	
	font-size:16px;
	line-height:1.0;
	letter-spacing: none;
	font-weight: 500;
}	

h1,h2 {
	font-family: 'Roboto', sans-serif;	
	}
h1 {
	color: red;
	font-size: 24px;
	font-weight : 700;
}

h2 {
	color:#7ECE90;
	font-size: 20px;
	font-weight: 700;
}

p {
	font=family; "Noto Sans JP", sans serif
}

a {
	color: #6B72E1;
	background-color: white; 
}

a:hover {
	color: purple ;
}

.container{
	width : 700px;
	margin : 40px auto;

}


@media (max-width:760px) {
	.container{
		width:600px;
	}
}

@media (max-width:500px) {
	.container{
		width:400px;
	}
}


.box-white{
	background-color: white;
	padding: 40px;
	box-shadow : 0px 10px 30px rgba(0, 0, 0,0.1);
	border-radius: 5px;
	margin : 20px 0px;
	text-align: center;
}



.image-circle{
	width: 150px;
	border-radius: 50px;
}

.btn-blue{
	background-color: #6B72E1;
	padding: 12px 10px;
	color:white;
	border-radius: 5px;
}

.list-inline{
	list-style: none;
	padding-left: 0px;

}
.list-inline li {
	display: inline;
	padding:10px;
}

.list-inline i {
font-size : 50px;
color : rgb (230,230,230);
} 

.list-inline i:hover {
font-size : 50px;
color : black;
}


#introduction p {
	margin-bottom:40px;

}





